html {
    background-color: #181a1b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: #3f4142;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #e5e5e5;
    font-size: 20px;
}

.exercisePContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exerciseP {
    display: flex;
}
