html {
    background-color: #181a1b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercisePContainer button {
    background-color: #3f4142;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #e5e5e5;
    font-size: 20px;
}

.exercisePContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exerciseP {
    display: flex;
}

.button-container button {
    background-color: #3f4142;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    border: none;
    color: #e5e5e5;
    font-size: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.eHeader {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #4caf50;
    font-weight: bold;
}

.bottom-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.bottom-buttons button {
    background-color: #3f4142;
    width: 132px;
    height: 80px;
    border-radius: 10px;
    border: none;
    color: #e5e5e5;
    font-size: 18px;
}

.exercise-button:hover,
.logout-button:hover,
.back-button:hover,
.exercisePContainer button:hover{
    background-color: #0b7dda;
}
