html {
    background-color: #181a1b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.iContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.iweightsandreps {
    display: flex;
    justify-content: space-around;
    border: 4px solid #3f4142;
    border-radius: 10px;
    padding: 1rem 0;
    width: 100%;
}

.isets {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0.1rem;
    margin-bottom: 1rem;
    width: 90%;
    padding: 1rem;
    border: 4px solid #3f4142;
    border-radius: 10px;
}

.isets label {
    font-size: 1.5rem;
}

.iweight {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 6.4rem;
}

select {
    height: 2rem;
    margin-bottom: 1rem;
}

.ireps {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 6.4rem;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    background-color: #3f4142;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #e5e5e5;
    font-size: 20px;
    margin-top: 1rem;
}
