<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Exercise Selection</title>
        <link rel="stylesheet" href="/exercise.css" />
    </head>
    <body>
        <div class="eHeader">
            <h1>Select Workout Type</h1>
        </div>
        <div class="button-container">
            <a href="/exercise/upper">
                <button class="exercise-button upper-button">
                    💪 Upper Body
                </button>
            </a>
            <a href="/exercise/lower">
                <button class="exercise-button lower-button">
                    🦵 Lower Body
                </button>
            </a>
            <a href="/exercise/run">
                <button class="exercise-button run-button">🏃 Run</button>
            </a>
        </div>
        <div class="bottom-buttons">
            <div class="back-button">
                <a href="/">
                    <button class="back-button">Back to Home</button>
                </a>
            </div>
            <div class="logout-container">
                <a href="/log-out">
                    <button class="logout-button">Log Out</button>
                </a>
            </div>
        </div>
    </body>
</html>
