<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Log In</title>
    </head>
    <body>
        <% if (locals.currentUser) {%>
        <h1>WELCOME BACK <%= currentUser.name %> on the / page</h1>
        <a href="/log-out">LOG OUT</a>
        <a href="/exercise">EXERCISE</a>
        <a href="/calendar">CALENDAR</a>
        <% } else { %>
        <h1>please log in</h1>
        <form action="/log-in" method="POST">
            <label for="username">Username</label>
            <input
                id="username"
                name="username"
                placeholder="username"
                type="text"
            />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <button type="submit">Log In</button>
        </form>
        <a href="/sign-up">SIGN UP</a>
        <%}%>
    </body>
</html>
