<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Upper Body Exercises</title>
    </head>
    <body>
        <% if (!upperBodyExercises) { %>
        <h1>No Upper Body Exercises</h1>
        <% } %>
        <h1>Upper Body Exercises</h1>
            <%upperBodyExercises.forEach(exercise => {%>
        <div id=<%= exercise.id %>>
        <form action="/exercise/insertData" method="GET">
            <input type="hidden" name="exerciseId" value="<%= exercise.id %>" />
            <button type="submit"><%= exercise.name %></button>
        </form>
        </div>
            <%})%>
        </ul>
    </body>
</html>
